{{#if loggedIn}}
    <div class="mt-5">
        <span class = "inline m-5 px-2 text-2xl text-white bg-red-600 rounded-lg"> 
            <a href="#">
                New Post +
            </a>
        </span>
    </div>
{{/if}}


{{#each posts}}
<div id="{{this.id}}">
    <div class="main-wrapper flex justify-center           hover:scale-105 duration-300 ease-in-out transition duration-200">
        <div class="grid my-10 basis-4/5">
            <div class=" border-2 border-black rounded-lg">
                <div class="flex justify-between bg-red-600 display-inline border-b-2 border-black rounded-t-md">
                 <h1 class="m-2 font-bold text-white">¿{{this.title}}</h1>
                 <p class="m-2 text-white">{{this.user_id}}</p>
                </div>

                <div class="p-3">
                    <p>{{this.content}}</p>
                </div>
            </div>
        
        </div>
    </div>

</div>
{{/each}}

